/* ===== Reset ===== */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Courier New', monospace;
}

/* ===== Background ===== */
body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#000;
  overflow:hidden;
  color:#ff0000;
}

/* Matrix background */
body::before{
  content:"";
  position:absolute;
  inset:0;
  background:
    repeating-linear-gradient(
      to bottom,
      rgba(0,255,100,.05) 0px,
      rgba(0,255,100,.05) 1px,
      transparent 2px,
      transparent 4px
    );
  animation: scan 6s linear infinite;
  pointer-events:none;
}

@keyframes scan{
  from{background-position:0 0;}
  to{background-position:0 100px;}
}

/* ===== Card ===== */
.card{
  position:relative;
  width:340px;
  padding:25px;
  border-radius:18px;
  background:rgba(0,20,10,.85);
  box-shadow:0 0 25px #ff0000;
  text-align:center;
}

/* Avatar */
.avatar{
  width:110px;
  height:110px;
  border-radius:50%;
  background:#000;
  margin:0 auto 15px;
  overflow:hidden;
  border:2px solid #ff0000;
}
.avatar img{
  width:100%;
  height:100%;
  object-fit:cover;
}

/* Glitch text */
.glitch{
  font-size:28px;
  font-weight:bold;
  position:relative;
  text-shadow:0 0 5px #ff0000;
}
.glitch::before,
.glitch::after{
  content:attr(data-text);
  position:absolute;
  left:0;
  width:100%;
  opacity:.8;
}
.glitch::before{
  color:rgb(255, 0, 0);
  animation:glitch 2s infinite;
}
.glitch::after{
  color:#ff0000;
  animation:glitch 1.5s infinite reverse;
}

@keyframes glitch{
  0%{clip-path:inset(0 0 90% 0);}
  20%{clip-path:inset(20% 0 60% 0);}
  40%{clip-path:inset(40% 0 40% 0);}
  60%{clip-path:inset(60% 0 20% 0);}
  80%{clip-path:inset(80% 0 5% 0);}
  100%{clip-path:inset(0 0 90% 0);}
}

/* Description */
.desc{
  margin-top:15px;
  font-size:14px;
  line-height:1.6;
}

/* Location */
.location{
  margin-top:10px;
  font-size:14px;
  color:#ff0000;
}

/* Social icons */
.social{
  margin-top:18px;
}
.social a{
  color:#ff0000;
  font-size:28px;
  margin:0 10px;
  transition:.3s;
}
.social a:hover{
  color:#fff;
  text-shadow:0 0 10px #ff0000;
}

/* Snow / particles */
.particle{
  position:absolute;
  color:#ff0000;
  font-size:12px;
  animation:fall linear infinite;
}
@keyframes fall{
  from{transform:translateY(-10px);}
  to{transform:translateY(110vh);}
}

.audio-control {
  background-color: #ff0000;
  position: absolute;
  bottom: 10px;
  font-size: 12px;
  display: none;
  text-align: center;
}
.audio-wave {
  display: flex;
  gap: 5px;
  text-align: center;
}

.audio-wave span {
  width: 5px;
  height: 20px;
  background: #000000;
  animation: wave 1s infinite ease-in-out;
  text-align: center;
}

.audio-wave span:nth-child(2){animation-delay:.1s}
.audio-wave span:nth-child(3){animation-delay:.2s}
.audio-wave span:nth-child(4){animation-delay:.3s}
.audio-wave span:nth-child(5){animation-delay:.4s}

@keyframes wave {
  0% {height: 10px;}
  50% {height: 40px;}
  100% {height: 10px;}
}